<%- include ("partials/header.ejs") %>
<div class="container">
<div>
    <h1 style="text-align: center;"><%= locals.recipeTitle %></h1>
</div>
<br>
<div style="text-align: center;">
   <img src="<%= locals.recipeImage %>" alt="<%= locals.recipeTitle %>" width="35%"> 
</div>
<br>
<hr>
<div style="text-align: justify; padding: 0 10rem;">
    <h2>Summary</h2>
    <%- locals.recipeSumm %>
</div>
<br>
<br>
<div style="text-align: justify; padding: 0 10rem;">
    <h2>Instructions</h2>
    <%- locals.recipeIns %>
</div>

</div>
<br>



<%- include ("partials/footer.ejs") %>